@model MovieTickets.Models.Account.EditRoleModel

<h2>Редактирование роли</h2>

@using (Html.BeginForm("EditRole", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Name, "Название", new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10 editor-field">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Description, "Описание", new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10 editor-field">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Отправить" />
            </div>
        </div>
    </div>
}