@model MovieTickets.Models.Movie

@{
    ViewBag.Title = "Добавление Фильма";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление нового фильма</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        <p>
            @Html.LabelFor(m => m.Name, "Название фильма")
            <br />
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Description, "Описание")
            <br />
            @Html.TextAreaFor(m => m.Description, new { cols = 55, @rows = 4 })
        </p>
        <p>
            @Html.LabelFor(m => m.Image, "Загрузите постер фильма на сервер")
        <p>
            <input type="file" name="uploadImage" />
        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Цена")
            <br />
            @Html.EditorFor(m => m.Price)
        </p>

        <p>
            @Html.LabelFor(m => m.Date, "Дата")
            <br />
            @Html.EditorFor(m => m.Date)
        </p>
        <p>
            @Html.LabelFor(m => m.Rating, "Рейтинг")
            <br />
            @Html.EditorFor(m => m.Rating)
        </p>
        <p><input type="submit" value="Отправить" /></p>
    </fieldset>
}
<div>
    @Html.ActionLink("К списку фильмов", "Index")
</div>

