@model MovieTickets.Models.Movie

@{
    ViewBag.Title = "Добавление Фильма";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление нового фильма</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <fieldset>
        @Html.HiddenFor(m => m.ID)
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Name, "Название", new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10 editor-field">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Description, "Описание", new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10 editor-field">
                @Html.TextAreaFor(m => m.Description, new { cols = 100, @rows = 5, @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="raw">
                <div class="editor-label">
                    @Html.LabelFor(m => m.Image, "Загрузите постер", new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-10">
                    <input type="file" value="uploadImage" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="editor-label">
                @Html.LabelFor(m => m.Price, "Цена", new { @class = "col-md-2 control-label" })
            </div>
            <div class="col-md-10 editor-field">
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Отправить" />
            </div>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("К списку фильмов", "Index")
</div>

