@model IEnumerable<MovieTickets.Models.Movie>
@{
    ViewBag.Title = "Список фильмов";
}

<h2>Сегодня в прокате</h2>
<p>
    @Html.ActionLink("Добавить фильм", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        
        Поиск: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
} 
<table>
    <tr>
        <th>Фото</th>
        <th>Название фильма</th>
        <th>Цена</th>
        <th>Дата</th>
        <th>Рейтинг</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Home", new { id = item.ID } ) ">
                    @Html.Raw("<img src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(item.Image) + "\" />")
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date.Date )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating) 
            </td>

            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>