@model MovieTickets.Models.Cinema
@{
    ViewBag.Title = "Кинотеатр";
}

<style>
    body {
        background-image: url(../../Content/assets/photo/bg.jpg);
    }
</style>
<div class="film-details">

    <div class="movie-details">
        <h2>Фильм: @Model.Name</h2>

        @Html.HiddenFor(m => m.Image)
        <p class="photo-details">
            @Html.Raw("<img class='photo - details' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")
        </p>
        <p class="text-details">
            @Html.LabelFor(m => m.Description, "Описание")
            <br />
            @Html.DisplayFor(m => m.Description)
        </p>

        <h1>Доступные сеансы:</h1>
        <p>
            <a class="autoGenerate" href="@Url.Action("ShowTicket", "Home", new { id = 1 } ) ">12:00</a>
            <a class="autoGenerate" href="@Url.Action("ShowTicket", "Home", new { id = 2 } ) ">16:00</a>
            <a class="autoGenerate" href="@Url.Action("ShowTicket", "Home", new { id = 3 } ) ">20:00</a>
        </p>
    </div>

</div>

